/* Plugins compatibility. */
@import "plugins/_wp.css";

/* Utility classes. */
@import "utils/_colors.css";
@import "utils/_font-sizes.css";
@import "utils/_alignment.css";

@media (--small-only) {
  .site-main > *:not(.alignfull),
  .site-footer > *:not(.alignfull),
  .wp-block-group__inner-container > *:not(.alignfull),
  .wp-block-cover:not(.entry-header) .wp-block-cover__inner-container > * {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (--small-medium) {
  .site-main > *:not(.alignfull),
  .site-footer > *:not(.alignfull),
  .wp-block-group:is(.alignfull)
    .wp-block-group__inner-container
    > *:not(.alignfull),
  .wp-block-cover:not(.entry-header) .wp-block-cover__inner-container > * {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: var(--content-width);
  }

  .container__small > * {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    width: unset;
  }
}

@media (--medium-large) {
  .site-main > *:not(.alignfull),
  .site-footer > *:not(.alignfull),
  .wp-block-group:is(.alignfull)
    .wp-block-group__inner-container
    > *:not(.alignfull),
  .wp-block-cover:not(.entry-header) .wp-block-cover__inner-container > * {
    width: unset;
    max-width: var(--content-width);
  }
}

main > .wp-block-group {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* @media (--medium) {
  .site-main > [class*="wp-block"]:not(.alignfull),
  [class*="wp-block"]:is(.alignfull) > * {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
} */
