.site-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-theme-black);
  font-size: 0.9rem;

  & * {
    color: var(--color-theme-white);
  }
}

.footer-sidebar {
  display: flex;
  flex-direction: column;

  & > * {
    flex: 0 0 33%;
  }
}

@media (--medium-large) {
  .footer-sidebar {
    flex-direction: row;

    & > * {
      flex: 1 1 auto;
    }
  }
}

.site-info {
  text-align: center;
}
